.containerMenu{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.559);
}
.contentOptionMenu {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: -2rem;
}
.labelMenu{
    color: #e26811;
}
.labelMenu:hover {
    color: #4c2204;
}

.hamburgerButton {
    color: #e26811;
}
.hamburgerButton:hover {
    color: #4c2204;
}